<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manager.email %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @manager.description %>
</p>

<%= link_to 'Editar', edit_manager_path(@manager) %> |
<%= link_to 'Voltar', managers_path %>
