<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Nome gerente:</strong>
  <%= Manager.find(@customer.id_manager).name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @customer.description %>
</p>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Voltar', customers_path %>
